/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.form_content input {
    width: 80%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 9px;
    background-color: transparent;
    padding-bottom: 7px;
}
.form_content button {
    position: absolute;
    top: -1px;
    right: 39px;
    border: none;
    background-color: transparent;
}
.btn_content button {
    border: 1px solid black;
    width: 45%;
    padding: 20px 0;
    font-size: 24px;
    background-color: transparent;
}

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
.form_content button {
    position: absolute;
    top: -1px;
    right: 145px;
    border: none;
    background-color: transparent;
}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
.form_content button {
    position: absolute;
    top: -1px;
    right: 262px;
    border: none;
    background-color: transparent;
}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
.form_content button {
    position: absolute;
    top: -1px;
    right: 353px;
    border: none;
    background-color: transparent;
}
}